.resume {
  overflow-y: scroll;
}
.row {
  display: flex;
}
.col-padding {
	padding: 0 12px;
}
.name-title {
	color: #44505f;
	font-size: 24px;
	font-weight: 900;
}
.section {
	font-size: 14px;
	font-weight: 900;
	color: #8e9cb4;
}

.item-title {
    color: #4a5568;
    font-weight: 900;
    font-size: 17px;
	text-decoration: none;
}
.item-date {
    color: #68778d;
    font-size: 16px;
}
.item-desc {
    color: #4a5568;
    font-size: 16px;
	text-decoration: none;
}


.resume::-webkit-scrollbar-track
{
	box-shadow: none;
	border-radius: 10px;
	background-color: transparent;
}

.resume::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

.resume::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(187, 187, 187);
}

@media (max-width: 768px) {
	.col-padding {
		padding: 0;
	}
	.row {
		flex-direction: column;
	}
}
