.two-two {
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: 0 0 3px #44505f;
    background-color: #f2f3f5;
    border-radius: 12px;
    padding: 6px 18px;
}
.two-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.two-title {
    text-align: center;
}
.two-desc {
    display: flex;
}

@media (max-width: 768px) {
    .two-two {
        width: 95%;
    }
    .two-desc {
        flex-direction: column;
    }
}