.two-zero {
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: 0 0 5px silver;
    padding: 6px 18px;
}
.zero-header {
    display: flex;
    justify-content: space-between;
}
.zero-desc {
    display: flex;
}