.joke {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.joke-container {
  background-color: #e3e5e8;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  max-width: 170px;
  min-height: 20vh;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 21px;
  font-weight: 600;
}
.joke-buttons {
    display: flex;
}
.get-joke {
  border: none;
  color: #4a5568;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
}
.get-joke:hover {
  text-decoration: 2px solid #8e9cb4 underline;
  color: #8e9cb4;
}
/* .get-joke:active {
  text-decoration: 2px solid #4a5568 underline;
  color: #4a5568;
} */
.close-joke {
  border: none;
  color: #4a5568;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
}
.close-joke:hover {
  text-decoration: 2px solid #8e9cb4 underline;
  color: #8e9cb4;
}