.interest-cont {
	margin: 36px 0;
}
.interest-title {
    color: #44505f;
	font-size: 24px;
	font-weight: 900;
	margin-top: 22px;
}
.interest-desc {
	color: #4a5568;
	line-height: 1.5;
	padding-right: 36px;
}
.video-cont {
	display: flex;
	justify-content: center;
	align-items: center;
}
.video {
	border: none;
	border-radius: 12px;
	max-width: 560px;
	min-height: 315px;
	width: 80%;
	height: 60%;
}

@media (max-width: 768px) {
	.interest-desc {
		padding: 0;
	}
	.video {
		width: 95%;
	}
}