.siderbar-container {
    width: 20%;
    height: 100vh;
    background-color: #f2f3f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 12px;
}
.sidebar-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.web-hide {
    display: none;
}
@media (max-width: 768px) {
    .siderbar-container{
        position: absolute;
        width: 80%;
        z-index: 1;
        box-shadow: 0 0 2px #f2f3f5;
    }
    .web-hide {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}