.other {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.purpose {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.other-title {
    color: #44505f;
	font-size: 24px;
	font-weight: 900;
}
.other-desc {
	color: #4a5568;
	max-width: 800px;
	margin: 0;
	line-height: 1.5;
	font-size: 18px;
}
.showcase {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.other::-webkit-scrollbar-track
{
	box-shadow: none;
	border-radius: 10px;
	background-color: transparent;
}

.other::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

.other::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(187, 187, 187);
}