.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  width: 50%;
}
@media (max-width: 768px) {
  .app {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .column {
    width: 100%;
  }

}