.prom {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.prom-title {
    color: #44505f;
	font-size: 24px;
	font-weight: 900;
    margin-bottom: 24px;
}
.year {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 18px;
}
.year-col {
    padding:0 24px;
}
.years {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 32px;
}
.timeline {
    width: 60%;
    height: 6px;
    background-color: #e3e5e8;
    border-radius: 12px;
}
.first-dot {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #747c7c;
    bottom: 12px;
    cursor: pointer;
}
.second-dot {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #747c7c;
    bottom: 30px;
    right: 25%;
    cursor: pointer;
}
.third-dot {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #747c7c;
    bottom: 48px;
    left: 25%;
    cursor: pointer;
}
.first-dot:hover, .second-dot:hover, .third-dot:hover {
    box-shadow: 0 0 5px silver;
}
.active {
    background-color: #c4ccfc !important;
} 
.close-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
